#prijavise-page-header{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    height:70px;
    background-color: rgba(255, 255, 255, 0.32);
    box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.53);
    font-family: 'Lilita One', sans-serif;
    font-weight: bold;
    color: #2563EB;
    font-size: 25px;
}
#prijavise-track{
    color: #7C3AED;
}
#prijavise-page{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:100px;
    background-image: linear-gradient(90deg, #a4a4a4, #78b4ce);
}
.prijavise-container{
    height:600px;
    width:550px;
    background-image: linear-gradient(360deg, #d7d7d7, #89CFF0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    border-radius: 15px;
    border: 1px solid black;
}
#prijavise-title{
    font-family: 'Lilita One', sans-serif;
    font-weight: bolder;
    font-size: 28px;
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap:10px;
}
#prijavise-desc{
    color:gray;
    font-size: 14px;
}
.unosi-korisnika{
    width:450px;
    height:30px;
    border-radius:10px;
    text-indent:10px;
    border: 2px solid #0188c9;
    transition: border .2s ease;
    display:flex;
    appearance: none;
}
.unosi-korisnika:focus{
    border: 2px solid #044f72;
    outline:none;
}
#prijavise-input-container{
    display:flex;
    flex-direction:column;
    gap:15px;
}
.prijavise-input{
    display:flex;
    flex-direction: column;
    width: 100%;
    gap:5px;
}
.prijavise-label{
    font-family: 'Lilita One', sans-serif;
    color: #313131;
    font-size: 13px;
    text-indent:5px;
    display:flex;
    align-items: center;
}
.prijavise-icon{
    width:17px;
    height:17px;
    stroke-width: 1,2px;
    color:black;
}
#line-holder{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    gap:5px;
}
.prijavise-line{
    height:1px;
    border-radius:1px;
    width:40%;
    background-color: #939393;
}
.input-icon{
    height:16px;
    width:16px;
}
#prijavise-button{
    width:450px;
    height:50px;
    background-color: #0092ee;
    border-radius:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lilita One', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color:white;
    transition: transform .3s ease, background-color .3s ease;
}
#prijavise-button:hover{
    cursor: pointer;
    transform: translate(0, -2px);
    background-color: #029cfd;
}
#prijavise-footer{
    font-family: 'Lilita One', sans-serif;
    font-size: 15px;
    color:gray;
}
#registracija-link{
    text-decoration:none;
    color: #00367c;
}
#footer-holder{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    height:40px;
}